*{
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
}

footer{
    margin-top: auto;
    background-color: lightblue;

    display: flex;
    flex: 1;
    height: 8rem;

    align-items: center;
    justify-content: center;
}
