body {
    background-color: lightgray;
}

.container {
    display: flex;
    gap: 1rem;
}

aside, main{
    border: 1px solid;
    height: 95vh;
}


aside {
    flex-basis: 25%;
    background-color: coral;
}

main {
    flex: 1;
    background-color: cornflowerblue;
}